<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>

<th:block layout:fragment="page-content">
    <div class="row mt-3">
        <form th:action="@{/logout}" method="post" class="form-inline">
            Username: <span class="text-danger me-3" th:text="${authentication.name}">User Name</span>
            <button type="submit" class="btn btn-secondary">Logout</button>
        </form>
    </div>
    <h1>Admin Panel:</h1>
    <div class="list-group">
        <a th:href="@{/admin/bikes}" class="list-group-item list-group-item-action">Bikes</a>
        <a th:href="@{/admin/brands}" class="list-group-item list-group-item-action">Brands</a>
        <a th:href="@{/admin/categories}" class="list-group-item list-group-item-action">Categories</a>
    </div>
</th:block>

</body>
</html>