<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>

<th:block layout:fragment="page-content">
    <h1>Admin Panel:</h1>
    <div class="list-group">
        <a th:href="@{/admin/bikes}" class="list-group-item list-group-item-action">Bikes</a>
        <a th:href="@{/admin/brands}" class="list-group-item list-group-item-action">Brands</a>
        <a th:href="@{/admin/categories}" class="list-group-item list-group-item-action">Categories</a>
    </div>
</th:block>

</body>
</html>