<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BikeCatalog</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.2/css/all.min.css}" />
</head>
<body>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BikeCatalog</a>
    </div>
</nav>

<div class="container">
    <h1>
        <a class="icon-link" style="text-decoration: none;" th:href="@{/admin/brands}">
            <i class="fa-solid fa-left-long"></i>
        </a>
        <span th:text="${brand.id} != null ? 'Edit brand' : 'Add new brand'" />
    </h1>
    <form th:action="@{/admin/brands/save}" th:object="${brand}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3" th:if="${brand.id != null}">
            <label for="idInput" class="form-label">ID</label>
            <input type="text" class="form-control" id="idInput" th:field="*{id}" disabled>
        </div>
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameInput" th:field="*{name}">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
</body>
</html>