<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>

<th:block layout:fragment="page-content">
    <h3>
        <a class="icon-link" style="text-decoration: none;" th:href="@{/admin/brands}">
            <i class="fa-solid fa-left-long"></i>
        </a>
        Back
    </h3>

    <h1 th:text="${brand.id} != null ? 'Edit brand' : 'Add new brand'" />

    <form th:action="@{/admin/brands/save}" th:object="${brand}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3" th:if="${brand.id != null}">
            <label for="idInput" class="form-label">ID</label>
            <input type="text" class="form-control" id="idInput" th:field="*{id}" disabled>
        </div>
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameInput" th:field="*{name}">
        </div>
        <button type="submit" class="btn btn-primary w-100">Save</button>
    </form>
</th:block>

</body>
</html>