<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>

<th:block layout:fragment="page-content">
    <h1 class="mt-3">
        <a onclick="goBack()" class="icon-link" style="text-decoration: none;">
            <i class="fa-solid fa-left-long"></i>
        </a>
        Back
    </h1>

    <div class="row align-items-center mt-3">
        <div class="col-lg-6" >
            <img class="img-thumbnail" th:src="${!#strings.isEmpty(bike.thumbnail)} ? @{/thumbnails/{thumbnail}(thumbnail = ${bike.thumbnail})} : @{/images/bike.png}" alt="Bike Image">
        </div>
        <div class="col-lg-6" >
            <h3>Name: <span th:text="${bike.name}" /></h3>
            <h5>Brand: <span th:text="${brand} != null ? ${brand} : 'No brand'" /></h5>
            <h5>Category: <span th:text="${category} != null ? ${category} : 'No category'" /></h5>
            <h5>Created At: <span th:text="${bike.createdAt} != null ? ${#dates.format(bike.createdAt, 'dd-MM-yyyy HH:mm')} : '-'" /></h5>
            <h5>Updated At: <span th:text="${bike.updatedAt} != null ? ${#dates.format(bike.updatedAt, 'dd-MM-yyyy HH:mm')} : '-'" /></h5>
        </div>
    </div>

    <p class="mt-3" th:utext="${bike.content}" />

    <th:block th:if="${#lists.size(bike.properties) > 0}">
    <h3 class="mt-5">Properties:</h3>
    <table class="table">
        <tbody>
        <tr th:each="property : ${bike.properties}">
            <td th:text="${property.name}"></td>
            <td th:text="${property.value}"></td>
        </tr>
        </tbody>
    </table>
    </th:block>
</th:block>

<script layout:fragment="page-script" th:inline="javascript">
    /*<![CDATA[*/
    function goBack() {
        if(document.referrer)
            window.history.back();
        else
            window.location.replace(/*[[@{/bikes}]]*/);
    }
    /*]]>*/
</script>

</body>
</html>