<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>

<th:block layout:fragment="page-content">
    <h1>
        <a onclick="goBack()" class="icon-link" style="text-decoration: none;">
            <i class="fa-solid fa-left-long"></i>
        </a>
        <span th:text="${bike.name}" />
    </h1>
    <h5>Brand: <span th:text="${brand} != null ? ${brand} : 'No brand'" /></h5>
    <h5>Category: <span th:text="${category} != null ? ${category} : 'No category'" /></h5>
    <h5>Created At: <span th:text="${bike.createdAt} != null ? ${bike.createdAt} : '-'" /></h5>
    <h5>Updated At: <span th:text="${bike.updatedAt} != null ? ${bike.updatedAt} : '-'" /></h5>
    <img class="img-thumbnail img-bike" th:src="${!#strings.isEmpty(bike.thumbnail)} ? @{/thumbnails/{thumbnail}(thumbnail = ${bike.thumbnail})} : @{/images/bike.png}" alt="Bike Image">
    <p th:utext="${bike.content}" />
</th:block>

<script layout:fragment="page-script" th:inline="javascript">
    /*<![CDATA[*/
    function goBack() {
        if(document.referrer)
            window.history.back();
        else
            window.location.replace(/*[[@{/bikes}]]*/);
    }
    /*]]>*/
</script>

</body>
</html>