<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>

<th:block layout:fragment="page-content">
    <h1>
        <a class="icon-link" style="text-decoration: none;" th:href="@{/admin/categories}">
            <i class="fa-solid fa-left-long"></i>
        </a>
        <span th:text="${category.id} != null ? 'Edit category' : 'Add new category'" />
    </h1>
    <form th:action="@{/admin/categories/save}" th:object="${category}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3" th:if="${category.id != null}">
            <label for="idInput" class="form-label">ID</label>
            <input type="text" class="form-control" id="idInput" th:field="*{id}" disabled>
        </div>
        <div class="mb-3">
            <label for="parentInput" class="form-label">Parent category</label>
            <select class="form-select" id="parentInput" th:field="*{parent}">
                <option value="">ROOT</option>
                <option th:each="entry : ${categories}" th:value="${entry.key.id}" th:text="${entry.value}" />
            </select>
        </div>
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameInput" th:field="*{name}">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</th:block>

</body>
</html>