<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>

<th:block layout:fragment="page-content">
    <h1>
        <a class="icon-link" style="text-decoration: none;" th:href="@{/admin/bikes}">
            <i class="fa-solid fa-left-long"></i>
        </a>
        <span th:text="${bike.id} != null ? 'Edit bike' : 'Add new bike'" />
    </h1>
    <form th:action="@{/admin/bikes/save}" enctype="multipart/form-data" th:object="${bike}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3" th:if="${bike.id != null}">
            <label for="idInput" class="form-label">ID</label>
            <input type="text" class="form-control" id="idInput" th:field="*{id}" disabled>
        </div>
        <div class="mb-3" th:if="${bike.createdAt != null}">
            <label for="createdAtInput" class="form-label">Created At</label>
            <input type="text" class="form-control" id="createdAtInput" th:field="*{createdAt}" disabled>
        </div>
        <div class="mb-3" th:if="${bike.updatedAt != null}">
            <label for="updatedAtInput" class="form-label">Updated At</label>
            <input type="text" class="form-control" id="updatedAtInput" th:field="*{updatedAt}" disabled>
        </div>
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameInput" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="brandInput" class="form-label">Brand</label>
            <select class="form-select" id="brandInput" th:field="*{brand}">
                <option value="">No brand</option>
                <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}" />
            </select>
        </div>
        <div class="mb-3">
            <label for="categoryInput" class="form-label">Category</label>
            <select class="form-select" id="categoryInput" th:field="*{category}">
                <option value="">No category</option>
                <option th:each="entry : ${categories}" th:value="${entry.key.id}" th:text="${entry.value}" />
            </select>
        </div>
        <input type="hidden" th:field="*{thumbnail}">
        <div class="mb-3">
            <label for="thumbnailFile" class="form-label">Thumbnail</label>
            <input class="form-control" type="file" id="thumbnailFile" accept="image/*" name="thumbnailFile" onchange="changeThumbnail(this)">
        </div>
        <img id="bike-thumbnail" class="img-thumbnail img-bike" th:src="${!#strings.isEmpty(bike.thumbnail)} ? @{/thumbnails/{thumbnail}(thumbnail = ${bike.thumbnail})} : @{/images/bike.png}" alt="Bike Image">
        <div class="mb-3">
            <label for="contentInput" class="form-label">Content</label>
            <textarea class="form-control" id="contentInput" rows="3" th:field="*{content}"></textarea>
        </div>
        <div class="mb-3">
            <label for="propertiesInput" class="form-label">Properties</label>
            <table class="table" id="propertiesInput">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="property, propertyStat : *{properties}">
                        <td>
                            <input type="text" class="form-control" th:field="*{properties[__${propertyStat.index}__].name}" th:id="${'properties[' + propertyStat.index + '].name'}">
                        </td>
                        <td>
                            <input type="text" class="form-control" th:field="*{properties[__${propertyStat.index}__].value}" th:id="${'properties[' + propertyStat.index + '].value'}">
                        </td>
                        <td>
                            <button class="btn btn-danger" onclick="return deleteProperty(this)">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="return addProperty()">
                Add property
            </button>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</th:block>

<th:block layout:fragment="page-script">
    <script th:src="@{/webjars/ckeditor/31.0.0/classic/ckeditor.js}"></script>
    <script th:inline="javascript">
        function deleteProperty(button) {
            const td = button.parentNode;
            const row = td.parentNode;
            const rowIndex = row.rowIndex;
            $('#propertiesInput tr').eq(rowIndex).remove();

            $('#propertiesInput tr').each(function(index, trDOM) {
                if(index == 0)
                    return;

                const tr = $(this);

                tr.find('td').eq(0).find('input').eq(0).attr("name", "properties[" + (index - 1).toString() + "].name");
                tr.find('td').eq(0).find('input').eq(0).attr("id", "properties[" + (index - 1).toString() + "].name");

                tr.find('td').eq(1).find('input').eq(0).attr("name", "properties[" + (index - 1).toString() + "].value");
                tr.find('td').eq(1).find('input').eq(0).attr("id", "properties[" + (index - 1).toString() + "].value");
            })

            return false;
        }

        function addProperty() {
            const rowCount = $('#propertiesInput tr').length - 1;
            const newProperty = '<tr>' +
                                    '<td>' +
                                        '<input type="text" class="form-control" value="" name="properties[' + rowCount + '].name" id="properties[' + rowCount + '].name">' +
                                    '</td>' +
                                    '<td>' +
                                        '<input type="text" class="form-control" value="" name="properties[' + rowCount + '].value" id="properties[' + rowCount + '].value">' +
                                    '</td>' +
                                    '<td>' +
                                        '<button class="btn btn-danger" onclick="return deleteProperty(this)">' +
                                            '<i class="fa-solid fa-trash"></i>' +
                                        '</button>' +
                                    '</td>' +
                                 '</tr>';
            $('#propertiesInput tbody').append(newProperty);
            return false;
        }

        ClassicEditor
            .create( document.querySelector( '#contentInput' ), {
                removePlugins: ['CKFinderUploadAdapter', 'CKFinder', 'EasyImage', 'Image', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload', 'MediaEmbed'],
            } )
            .catch( error => {
                console.error( error );
            } );

        /*<![CDATA[*/
        function changeThumbnail(fileInput) {
            var file = fileInput.files[0];

            if(file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#bike-thumbnail').attr('src', e.target.result);
                };
                reader.readAsDataURL(file);
            } else {
                var originalSrc = /*[[${!#strings.isEmpty(bike.thumbnail)} ? @{/thumbnails/{thumbnail}(thumbnail = ${bike.thumbnail})} : @{/images/bike.png}]]*/;
                $('#bike-thumbnail').attr('src', originalSrc);
            }
        }
        /*]]>*/
    </script>
</th:block>

</body>
</html>