<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<body>

<th:block layout:fragment="page-content">
    <h1>
        <a class="icon-link" style="text-decoration: none;" th:href="@{/admin}">
            <i class="fa-solid fa-left-long"></i>
        </a>
        Bikes:
    </h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bike : ${bikes}">
            <th scope="row" th:text="${bike.id}">
            <td th:text="${bike.name}"/>
            <td th:text="${bike.brand} != null ? ${bike.brand.name} : 'No brand'"/>
            <td th:text="${bike.category} != null ? ${bike.category.name} : 'No category'"/>
            <td>
                <a class="btn btn-warning" role="button" th:href="@{/admin/bikes/{id}(id = ${bike.id})}" >
                    <i class="fa-solid fa-pen"></i>
                </a>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteBikeModal" th:data-parameter1="${bike.id}" th:data-parameter2="${bike.name}" th:onclick="deleteBike(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'))" >
                    <i class="fa-solid fa-trash"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" th:href="@{/admin/bikes/new}" >
        Add new bike
    </a>
</th:block>

<th:block layout:fragment="page-other">
    <!-- delete bike modal -->
    <div class="modal fade" id="deleteBikeModal" tabindex="-1" aria-labelledby="deleteBikeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteBikeModalLabel">Delete Bike</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="delete-confirm-text" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form th:action="@{/admin/bikes/delete}" method="post">
                        <input id="delete-form-id" type="hidden" name="id"/>
                        <button type="submit" class="btn btn-danger" id="delete-confirm-action">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>

<script layout:fragment="page-script">
    function deleteBike(id, name) {
        $("#delete-confirm-text").text(`Are you sure to delete Bike(id: ${id}, name: ${name})?`);
        $("#delete-form-id").val(id);
    }
</script>

</body>
</html>